<!-- search -->

<section class="mainbar" data-ng-controller="search as vm">
    <section class="matter">
        <div class="container">
            
	        <div class="widget wblue">
	        	<form class="form-horizontal" role="form">
		            <div data-cc-widget-header title="{{vm.title}}"></div>
		            <div class="widget-content user">
	                	
                		<div class="row">
	                        <div class="col-md-6 column">
	                        	<div class="panel panel-sm panel-primary">
									<div class="panel-heading">
										<h4 class="panel-title"><i class="fa fa-plane"></i>
											Where do you want to go?
										</h4>
									</div>
									<div class="panel-body">
										<div class="input-group">
											<label for="departure">Choose your departure city / airport</label>
											<select class="form-control" id="departure" ng-model="departure">
												<option>Amsterdam (Schiphol)</option>
												<option>Hamburg</option>
												<option>Parijs</option>
												<option>London</option>
												<option>New York</option>
											</select>
										</div>
										<div class="input-group">
											 <label for="destination">Choose your destination city / airport</label>
											 <input type="text" class="form-control" id="destination" ng-model="destination"/>
										</div>
									</div>
									
								</div>
							</div>
							<div class="col-md-6 column">
								<div class="panel panel-info">
									<div class="panel-heading">
										
										<h4 class="panel-title"><i class="fa fa-clock-o"></i>
											When do you need to travel?
										</h4>
									</div>
									<div class="panel-body">
										<div class="form-group">
											 <label for="DEPD" class="col-md-4">Departing</label>
											 <div class="col-md-8">
											 	<input type="date" class="form-control" id="DEPD" ng-model="departureDate"/>
											 </div>
										</div>

										<div class="form-group">
											<label class="col-md-4">Returning flight?</label>
											<div class="radio-inline">
												<label class="radio-inline">
												 	<input type="radio" name="returning" id="returning_yes" value="yes"> Yes
												</label>
											</div>
											<div class="radio-inline">
												<label class="radio-inline">
												 	<input type="radio" name="returning" id="returning_no" value="no"> No
												</label>
											</div>
										</div>



										<div class="form-group">
											 <label for="RETD" class="col-md-4">Returning</label>
											 <div class="col-md-8">
											 	<input type="date" class="form-control" id="RETD" ng-model="returnDate"/>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
							
						<div class="row">
	                        <div class="col-md-6 column">
							

								<div class="panel panel-info">
									<div class="panel-heading">
										
										<h4 class="panel-title"><i class="fa fa-user"></i>
											How many people are travelling?
										</h4>
									</div>
									<div class="panel-body">
										<div class="form-group">
											 <label for="adt" class="col-md-8">adults (12 years or older)</label>
											 <div class="col-md-4">
												 <select class="form-control" id="ADT" ng-model="adt">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
													<option>7</option>
												</select>
											</div>
										</div>

										<div class="form-group">
											 <label for="CHD" class="col-md-8">children (2-11 years)</label>
											 <div class="col-md-4">
												 <select class="form-control" id="CHD" ng-model="chd">
													<option>0</option>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
													<option>6</option>
												</select>
											</div>
										</div>

										
										<div class="form-group">
											 <label for="INF" class="col-md-8">baby's (0-23 months)</label>
											 <div class="col-md-4">
												 <select class="form-control" id="INF" ng-model="inf">
													<option>0</option>
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
												</select>
											</div>
										</div>

									</div>
									
								</div>
							</div>

							<div class="col-md-6 column">
								<div class="panel panel-info">
									<div class="panel-heading">
										
										<h4 class="panel-title"><i class="fa fa-ticket"></i>
												What ticket class would you prefer?
										</h4>
									</div>
									<div class="panel-body">
										<div class="form-group">
											 <label for="FARETYPE" class="col-md-4">Select class</label>
											 <div class="col-md-8">
												 <select class="form-control" id="FARETYPE" ng-model="fartype">
													<option value="FIRST">Business</option>
													<option value="BESTPRICE" selected>Economy</option>
												</select>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
										
	                </div>

	                <div class="widget-foot">
	                    <div class="clearfix">
							<button type="submit" class="btn btn-primary btn-default">Continue</button>
							<button type="cancel" class="btn btn-cancel ">Cancel</button>
	                    </div>
	                </div>

                </form>	
            </div>
        </div>
    </section>
</section>

