<section class="mainbar" data-ng-controller="login as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
            	<div class="col-md-12 column">
	                <div class="widget wlightblue">
	                	<form name="logonform" role="form" ng-submit="vm.validate()" id="logonform">

	                    <div data-cc-widget-header title="{{vm.title}}"></div>
	                    <div class="widget-content user">
	                		<div class="alert alert-danger" ng-show="vm.error" id="error">{{ vm.error }}</div>

	                        
							<div class="form-group">
					    		<label for="username" class="col-md-2">Fresh & Honest Club number:</label>
					      		<input type="text" class="form-control" id="username" placeholder="Enter a valid club number" ng-model="vm.credentials.username">
						    </div>

							<div class="form-group">
						    	<label for="password" class="col-md-2">Password:</label>
						      	<input type="password" class="form-control" id="password" placeholder="Enter a valid password" ng-model="vm.credentials.password">
							</div>

	                    </div>
	                    <div class="widget-foot">
	                        <div class="clearfix">
	                        	<button type="submit" class="btn btn-primary" name="submit">Continue</button>
					      		<a class="btn button-link" ng-click="vm.reset()" role="button">Reset</a>
	                        </div>
	                    </div>

	                    </form>
	                </div>
            	</div>
        	</div>
        </div>
    </section>
</section>